<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../css/b-grid.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header id="header"></header>
    <div class="b-detail" id="new-create">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="item-name">新增消息</p>
                    <div class="b-detail_infobox">
                        <ul>
                            <li>
                                <p>消息主圖</p>
                                <input type="file" accept=".png, .jpg, .jpeg" id="newspic"></input>
                                <img id="mainpic" src="../img/default/default.jpg" alt="" >
                                <button class="change-btn hidebtn" @click="checkimg">確認與預覽圖片</button>
                            </li>
                            <li>
                                <p>消息頁編號</p>
                                <p>系統自動生成</p>
                            </li>
                            <li>
                                <p>消息編號</p>
                                <p>系統自動生成</p>
                            </li>
                            <li>
                                <p>消息標題</p>
                                <input type="text" class="long-input" id="newsname" v-model="newsname" maxlength="100">
                            </li>
                            <li>
                                <p>消息分類</p>
                                <select name="newskind" class="long-input" v-model="newskind" id="newskind">
                                    <option v-for="(newskind, index) in dataList2" :value="newskind.ID">{{ newskind.DESC }}</option>
                                </select>   
                            </li>
                            <li>
                                <p>公告期間</p>
                                <input type="date" id="start" name="trip-start" min="2020-01-01" max="2050-12-31" class="timeform"  v-model="newsstart">
                                <i class="fa-solid fa-minus"></i>
                                <input type="date" id="end" name="trip-start" min="2020-01-01" max="2050-12-31" class="timeform"  v-model="newsend">
                            </li>
                            <li>
                                <p>消息頁狀態</p>
                                <input type="radio" v-model="newsstatus" name="newsstatus" value="1" id="newsstatus1"></input>
                                <label class="time-area_label" for="newsstatus1">開啟</label>
                                <input type="radio" v-model="newsstatus" name="newsstatus" value="2" id="newsstatus2"></input>
                                <label class="time-area_label" for="newsstatus2">關閉</label>
                            </li>
                            <li>
                                <p>新增日期</p>
                                <p>系統自動生成</p>
                            </li>
                            <li>
                                <p>最後編輯日期</p>
                                <p>系統自動生成</p>
                            </li>
                            <!-- <li>
                                <p>展場編號</p>
                                <input type="text" class="long-input">
                            </li> -->
                            <li>
                                <p>消息內文</p>
                                <textarea type="text" class="large-textarea" id="newscontent" v-model="newscontent" maxlength="256"></textarea>
                            </li>
                            <!-- <li>
                                <p>消息圖</p>
                                <button class="change-btn"></i>新增圖片</button>
                            </li> -->
                        </ul>
                        <div class="btn-group">
                            <button class="big-btn" @click="axiosPost()">上架</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- js -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/vue.global.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(() => {
            $("#header").load("./back-header.html");
        });

        const newcreate = Vue.createApp({
            data() {
                return {
                    newscontent:"",
                    newsname:"",
                    newsstart:"",
                    newsend:"",
                    newskind:"",
                    newsstatus:"",
                    newspic:"",
                    dataList: [],
                    dataList2: [],

                    file:""
                }
            }, methods: {
                axiosPost(){
                if (this.mainphoto == '') {
                    alert("請輸入[消息內文]");
                    return false;
                }
                else if (this.newsname == "") {
                    alert("請輸入[消息名稱]");
                    return false;
                }
                else if (this.newsstart == '') {
                    alert("請選擇[消息開始日]");
                    return false;
                }
                else if (this.newsend == '') {
                    alert("請選擇[消息結束日]");
                    return false;
                }
                else if (this.newskind == '') {
                    alert("請選擇[消息種類]");
                    return false;
                }
                else if (this.newsstatus == '') {
                    alert("請選擇[消息狀態]");
                    return false;
                }
                else if (this.newspic == '') {
                    alert("請輸入[消息圖片]");
                    return false;
                }
                else{
                    const string = `newscontent=${this.newscontent}&newsname=${this.newsname}&newsstart=${this.newsstart}&newsend=${this.newsend}&newskind=${this.newskind}&newsstatus=${this.newsstatus}&newspic=${this.newspic}`;
                    axios.post("../../php/backend/new-create.php", string).then(res => {
                        console.log(res);
                        swal({
                            icon: "success",
                            title: "添加成功",
                            text: "您已成功添加一筆消息",
                            buttons: {
                            A: {
                                text: "繼續新增消息",
                                value: "./b-new-create.html",
                                className:'AAA',
                                visible: true,
                            },
                            B: {
                                text: "回消息管理頁面",
                                visible: true,
                                className:'BBB',
                                value: "./b-new.html"
                            }
                            }
                        }).then((value) => {
                            location.assign(`${value}`)
                        });
                    // this.dataList = res.data;
                    }).catch(err => {
                        console.log(err);
                        alert("上架失敗，請再次檢查資料");
                    })

                    let file = document.getElementById("newspic").files[0];

                    // console.log(file)

                    this.file = file;
                    let formData = new FormData();
                    formData.append('file', this.file);

                    axios({
                        method: 'post',
                        url: '../../php/backend/new-create-upload.php',
                        data: formData,
                        headers: {
                        'Content-Type': 'multipart/form-data',
                        // 'Authorization': localStorage.getItem("authorization")
                        }
                    }) 
                }          
                },
                checkimg(e){
                    let pic = e.target.previousSibling.previousSibling.files[0].name;
                    let picbox = String(pic);
                    this.newspic = picbox;
                    // console.log(this.productpic);

                    let picfile = e.target.previousSibling.previousSibling.files[0];
                    // console.log(picfile);
                    var reader = new FileReader;
                    reader.onload = function(e) {
                        $('#mainpic').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(picfile);
                },

            },created() {
                axios({
                    method: 'get',
                    url: '../../php/backend/new-create-info-type.php',
                    responseType:'json',
                    }).then(res => {
                        this.dataList2 = res.data;
                        console.log(res.data);
                        // console.log(this.idarr);
                        // console.log(this.dataList);
                    }).catch(err => {
                        console.log(err);
                });
            }
        }).mount("#new-create");
    </script>
</body>
</html>