.b-salesoverview{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 90px;
    box-sizing: border-box;
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.b-salesoverview p{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
    color: #333;
}
.b-salesoverview h6{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans TC', sans-serif;
    color: #333;
}
.b-salesoverview h5{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
    color: #333;
}
.b-salesoverview .info-box1{
    background-color: rgb(230, 230, 230);
    height: 200px;
    p{
        width: 100%;
        padding: 10px 30px;
        background-color: #333;
        color: #fff;
    }
    ul{
        width: 100%;
        display: flex;
        li{
            width: 25%;
            height: 100px;
            margin-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            border-right: #333 2px solid;
            h6{
                margin-bottom: 40px;
            }
            &:last-child{
                border-right: none;
            }
        }
    }
}
.b-salesoverview .text{
    display: inline-block;
    margin-left: 80px;
    margin-top: 40px;
}
.b-salesoverview .gray-text{
    display: inline-block;
    margin-left: 20px;
    color: #666;
}
.switch-btn-group{
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: 80px;
}
.switch-btn{
    width: 80px;
    height: 30px;
    position: relative;
    text-align: center;
} 
.switch-btn label,
.switch-btn input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    outline: none;
    color: #333;
    background-color: #dddddd;
    height: 30px;
    width: 80px;
    line-height: 30px;
    transition: all 0.3s;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
}
.switch-btn input[type="radio"] {
    opacity: 0.011;
    cursor: pointer;
}
  
.switch-btn input[type="radio"]:checked + label {
    border-radius: 4px;
    background-color: #333;
    color: #ffffff;
}
  
.switch-btn label {
    cursor: pointer;
}

.b-salesoverview .sub-text{
    display: inline-block;
    margin-top: 20px;
    margin-left: 80px;
    padding-left: 10px;
    color: #333;
    border-left: 4px solid #333;
}
.b-salesoverview .info-box2{
    background-color: rgb(230, 230, 230);
    height: 120px;
    p{
        width: 100%;
        padding: 10px 30px;
        background-color: #333;
        color: #fff;
    }
    ul{
        width: 100%;
        display: flex;
        li{
            width: 100%;
            height: 100px;
            margin-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            border-right: #333 2px solid;
            h6{
                margin-bottom: 20px;
            }
            &:last-child{
                border-right: none;
            }
        }
    }
}
.b-salesoverview .info-box3{
    margin-top: 20px;
    background-color: rgb(230, 230, 230);
    height: 120px;
    p{
        width: 100%;
        padding: 10px 30px;
        background-color: #333;
        color: #fff;
    }
    ul{
        width: 100%;
        display: flex;
        li{
            width: 100%;
            height: 100px;
            margin-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            border-right: #333 2px solid;
            h5{
                font-size: 20px;
            }
            &:last-child{
                border-right: none;
            }
        }
    }
}
.b-salesoverview .info-box4{
    background-color: rgb(230, 230, 230);
    height: 260px;
    position: relative;
    p{
        width: 100%;
        padding: 10px 30px;
        background-color: #333;
        color: #fff;
    }
    h5{
        margin-top: 30px;
        margin-left: 30px;
    }
    ul{
        width: 60%;
        margin-top: 30px;
        li{
            width: 100%;
            height: 30px;
            margin-left: 30px;
            border-bottom: #333 1px solid;
            .color-box{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-top: 5px;
            }
            h6{
                display: inline-block;
                margin-left: 20px;
                margin-bottom: 5px;
            }
            .text-float{
                float: right;
                margin-top: 5px;
            }
        }
    }
    .pie-chart{
        position: absolute;
        right: 30px;
        top: 60px;
        background-color: #fff;
        width: 180px;
        height: 180px;
    }
}
.b-salesoverview .info-box5{
    background-color: rgb(230, 230, 230);
    margin-bottom: 60px;
    p{
        width: 100%;
        padding: 10px 30px;
        background-color: #333;
        color: #fff;
    }
    ul{
        width: 100%;
        display: inline-block;
        li{
            display: flex;
            width: 90%;
            margin-left: 5%;
            border-bottom: #333 2px solid;
            a{
                display: flex;
                width: 100%;
                height: 100%;
                text-decoration: none;
                div{
                    width: 15%;
                    height: 40px;
                    text-align: center;
                    h6{
                        line-height: 40px;
                    }
                }
                .add-w{
                    width: 40%;
                }
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
}