 @mixin rwd($breakpoint) {
     @media all and (max-width: $breakpoint) {
         @content;
     }
 }

 main.memberCenter {
     width: calc(100vw - 112px);
     margin: 0 auto;
     padding-top: 32px;

     @include rwd(920px) {
         //  width: 100vw;
     }

     a {
         color: $font-color;
     }

     .breadcrumb {
         display: flex;
         padding: 10px 2%;
         position: relative;
         min-width: 0;
         width: 60%;
         z-index: 1;
         margin: 50px 0 20px 55px;

         // box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 50%);
         @include rwd(514px) {
             margin: 50px 0 20px 43px;
         }

         @include rwd(490px) {
             margin: 50px 0 20px 10px;
         }

         li {
             &:nth-child(even) {
                 &::before {
                     content: "";
                     height: .6rem;
                     border-left: solid 1px $font-color;
                     display: inline-block;
                     margin: 0 .5rem;
                 }

                 a {
                     color: $lakeGreen-color;
                 }
             }
         }

         a {
             font-size: $small;
             line-height: 18px;
             color: $font-color;
         }
     }

     .banner {
         margin-bottom: 5rem;

         @include rwd(920px) {
             margin-bottom: 3rem;
         }
     }

     .banner-img {
         box-shadow: none;
         height: 195px;

         @include rwd(514px) {
             height: 125px;
         }
     }

     .banner-eng {
         @include rwd(920px) {
             font-size: 28px;
             padding: 40px 10px 20px 85px;
         }

         @include rwd(514px) {
             font-size: 24px;
             padding: 0px 10px 20px 55px;
         }

         @include rwd(490px) {
             font-size: 20px;
             padding: 40px 10px 20px 20px;
             height: 110px;
         }
     }

     .banner-zh {

         font-size: 32px;
         padding-left: 30vw;

         &::before {
             content: "";
             width: 14vw;
             border-bottom: solid 3px $font-color;
             display: inline-block;
             margin-right: 2.8rem;

             @include rwd(490px) {
                 margin-right: 0.8rem;
             }
         }

         @include rwd(920px) {
             font-size: 28px;
             padding-left: 30vw;
         }

         @include rwd(514px) {
             font-size: 24px;
         }

         @include rwd(490px) {
             font-size: 20px;
             padding-left: 36vw;
         }
     }

     section.nav-tab {
         width: 83vw;
         margin: 0 auto;
         display: grid;
         grid-template-columns: repeat(4, minmax(0px, 1fr));
         gap: 2rem;

         @include rwd(920px) {
             display: block;
         }

         aside.side-nav {
             position: relative;
             margin-bottom: 3rem;

             nav.nav-bg {
                 padding: 2rem 2.5rem 2rem;
                 height: fit-content;
                 position: sticky;
                 top: 120px;
                 background: #EEEEEE;
                 box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
                 border-radius: 10px;

                 @include rwd(1258px) {
                     padding: 2rem 2rem 6rem;
                 }

                 @include rwd(1110px) {
                     padding: 2rem 1rem 1rem;
                 }

                 @include rwd(920px) {

                     padding: 0rem 1rem 1rem 3rem;
                     margin-bottom: 5rem;

                     ul {
                         display: flex;
                         justify-content: space-around;
                     }
                 }

                 @include rwd(490px) {
                     padding: 0rem 0rem 1rem 2rem;

                     ul {
                         justify-content: space-around;
                     }
                 }
             }
         }

         aside.side-tab {
             grid-column: span 3 / span 3;
         }
     }

     .nav-block {

         &::before {
             content: "";
             width: 10rem;
             border-top: solid 3px $font-color;
             display: inline-block;

             @include rwd(1000px) {
                 width: 9rem;
             }

             @include rwd(920px) {
                 width: 0rem;
             }
         }



         &>div {
             padding: 1rem 2rem 1rem 0;
             position: relative;
             cursor: pointer;

             div {
                 display: none;
             }

             div.-active {
                 background-color: $sub-skin-color;
                 width: 110%;
                 height: 3rem;
                 position: absolute;
                 z-index: -1;
                 top: 28px;
                 display: block;
                 left: .2rem;

                 @include rwd(1110px) {
                     width: 100%;
                 }

                 @include rwd(610px) {
                     top: 15px;
                     left: -0.8rem;
                 }

                 @include rwd(490px) {
                     top: 10px;
                     left: -0.2rem;
                 }
             }
         }

         .title-eng {
             font-size: $h3;
             color: $brown-color;

             @include rwd(1000px) {
                 font-size: 26px;
             }

             @include rwd(610px) {
                 font-size: 20px;
             }

             @include rwd(514px) {
                 font-size: 18px;
             }

             @include rwd(490px) {
                 font-size: 16px;
             }
         }

         .title-zh {
             padding-top: .3rem;
             font-size: $h6;
             color: $carmel-color;

             @include rwd(610px) {
                 font-size: 16px;
             }

             @include rwd(514px) {
                 font-size: 18px;
             }

             @include rwd(490px) {
                 font-size: 14px;
             }
         }
     }

     div.tab-block {
         margin-bottom: 3rem;
     }

     ul.tab-list {
         display: flex;
         margin: 0;

         li a.tab {
             padding: .5rem 1rem;
             background-color: $carmel-color;
             color: #fff;
             font-size: $p;
             border-radius: 3px;
             border-bottom-left-radius: 0;
             border-bottom-right-radius: 0;
             margin-right: .5px;
             outline: none;
         }

         li a.tab.-current {
             background-color: $brown-color;
         }

         button {

             padding: .5rem 1rem;
             background-color: $carmel-color;
             color: #fff;
             font-size: $p;
             border-radius: 3px;
             border-bottom-left-radius: 0;
             border-bottom-right-radius: 0;
             margin-right: .5px;
             border: none;
         }

         .active {
             background-color: $brown-color;
         }

         .tab_content {
             padding: .5rem 1rem;
             background-color: $carmel-color;
             color: #fff;
             font-size: $p;
             border-radius: 3px;
             border-bottom-left-radius: 0;
             border-bottom-right-radius: 0;
             margin-right: .5px;
             outline: none;
         }

     }

     .tab-content {
         background-color: $brown-color;
         border-radius: 3px;
         border-top-left-radius: 0;
         padding: 1rem;
         outline: none;
         margin-top: -.5px;

         div.overlay {
             position: fixed;
             top: 0;
             left: 0;
             width: 100%;
             height: 100vh;
             background-color: hsla(0, 0%, 0%, .8);
             z-index: 999;



             &.fade-enter-active,
             &.fade-leave-active {
                 transition: opacity 1s;
             }

             &.fade-enter-from,
             &.fade-leave-to {
                 opacity: 0;
             }

             &.fade-enter-to,
             &.fade-leave-from {
                 opacity: 1;
             }


             div.alert_pop_out {
                 display: flex;
                 justify-content: space-evenly;

                 .alert_pop_yes p {
                     cursor: pointer;

                     &:hover {
                         color: $carmel-color;
                     }

                 }

                 .alert_pop_no p {
                     cursor: pointer;

                     &:hover {
                         color: $carmel-color;
                     }

                 }
             }

             article {
                 background-color: white;
                 max-width: 400px;
                 border-radius: 10px;
                 box-shadow: 0 0 10px #ddd;
                 padding: 10px;
                 position: absolute;
                 top: 55%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 width: 45%;
                 height: 30%;
             }

             h6.overlay_confirm {
                 font-size: 20px;
                 text-align: center;
                 font-weight: bold;
                 margin-top: 50px;
                 color: #261C0D;
             }

             div.alert_pop_out {
                 text-align: center;
                 margin: 20px 0;
                 line-height: 2;
                 font-size: 14px;
                 color: #261C0D;
             }
         }


         div.alert_pop {
             font-size: 16px;
             line-height: 2;

             div.alert_pop_out {
                 display: flex;
             }
         }

         div.pwd-tab {
             @include rwd(745px) {
                 padding: 3rem 1rem 3rem 4rem;
             }

             @include rwd(580px) {
                 padding: 3rem 1rem 3rem 2rem;
             }
         }

         &>div {
             background-color: #fff;
             border-radius: 2px;
             padding: 3rem 2rem;

             @include rwd(920px) {
                 padding: 3rem 7rem;
             }

             @include rwd(876px) {
                 padding: 3rem 3rem 3rem 6rem;
             }

             @include rwd(780px) {
                 padding: 3rem 3rem 3rem 4rem;
             }

             @include rwd(745px) {
                 padding: 3rem 1rem 3rem 1rem;
             }

             @include rwd(486px) {
                 padding: 3rem 2rem;
             }
         }
     }

     .addr-tab {
         // display: none;
     }

     .pwd-tab {
         // TODO
         // display: none;
     }

     div.addr-col {
         display: flex;
         align-items: center;
         width: fit-content;
         margin: 0 auto;
         margin-bottom: 1.5rem;

         @include rwd(920px) {
             flex-wrap: wrap;
             justify-content: flex-end;
         }

         @include rwd(700px) {
             flex-wrap: wrap;
             justify-content: flex-end;
             width: 100%;
         }

         @include rwd(576px) {
             font-size: 14px;
             margin-bottom: 0;
         }


         label {
             display: flex;
             margin-right: 1rem;

             @include rwd(865px) {
                 width: 100%;
                 margin-bottom: 10px;
             }

             & * {
                 margin-right: 1rem;

             }

             div {
                 min-width: 300px;
             }
         }

         input.addr_text {
             width: 300px;
             font-size: 16px;

             @include rwd(576px) {
                 font-size: 14px;
             }
         }

         &>input {
             //  display: none;
             min-width: 300px;
             line-height: 1.5rem;
             border: solid 2px $brown-color;
             border-radius: 3px;
             margin-right: 1rem;
             color: $brown-color;
         }

         button {
             margin-right: 1rem;
             padding: 0;
             border: 0;
             background-color: transparent;
             margin-bottom: 15px;

             &:hover {
                 span {
                     font-weight: 600;
                 }
             }
         }

         input+button>span {
             font-size: 26px;

             @include rwd(576px) {
                 font-size: 24px;
             }
         }

         .new_label {
             width: auto;
             margin-right: 0rem;
         }

         .new_task_name {
             margin-right: 1.8rem;
         }

         .new-edit-addr {
             padding-top: 17px;
         }

     }

     textarea {
         border: solid 2px $brown-color;
         border-radius: 3px;
         width: 300px;
         margin: 2rem auto 0;
         height: 3rem;
         display: none;
     }

     .button {
         font-size: $p;
         padding: 12px 25px 12px 40px;

         @include rwd(490px) {
             font-size: 14px;
         }
     }

     div.pwd-tab>div {
         width: 30vw;
         margin: 0 auto 2rem;
         display: flex;
         justify-content: space-between;
         align-items: center;

         @include rwd(930px) {
             margin: 0 0 1rem 1rem;
             width: 47vw;
         }

         @include rwd(790px) {
             margin: 0 0 1rem 0rem;
             width: 68vw;
         }

         @include rwd(768px) {
             width: 63vw;
         }

         @include rwd(576px) {
             font-size: 14px;
         }

         @include rwd(490px) {
             font-size: 14px;
             margin-left: 0.2rem;
             margin-right: 1rem;
             width: 55vw;
         }

         @include rwd(438px) {
             width: 59vw;
         }

         input {
             border: solid 2px $brown-color;
             border-radius: 3px;
             line-height: 1.5rem;
             min-width: 68%;
             color: $brown-color;

             @include rwd(932px) {
                 min-width: 72%;
             }

             @include rwd(490px) {
                 margin-right: 0;
                 min-width: 62%;
             }
         }

         .button {
             margin: 40px auto 0;

             @include rwd(920px) {
                 margin: 40px auto;
             }

             @include rwd(490px) {
                 margin: 30px 0 0 57px;
             }

             @include rwd(456px) {
                 margin: 30px 0 0 47px;
             }

             @include rwd(428px) {
                 margin: 30px 0 0 35px;
             }
         }
     }

     div.tab-content>div.po-tab {
         padding-top: 5rem;
         // display: none; // TODO
     }

     .po-single {
         border-bottom: solid 2px $carmel-color;

         @include rwd(576px) {
             font-size: 14px;
         }

         @include rwd(490px) {
             padding: 0;
         }

         &>div {
             display: flex;
             width: 30vw;
             margin: 0 auto 1.5rem;

             @include rwd(920px) {
                 width: auto;
                 margin-left: 3rem;
             }

             @include rwd(490px) {
                 margin-left: 1rem;
             }

             &:first-child {
                 margin-top: 1.5rem;
             }

             &>* {
                 min-width: 50%;
             }

             button {
                 border: 0;
                 background-color: transparent;
                 font-size: 16px;
                 padding: 0;
                 height: 16px;
             }
         }

         &:last-child {
             border: 0
         }
     }

     .poSingle {
         border-bottom: solid 2px #533C1B;
         margin-bottom: 3.5rem;

         &:last-of-type {
             border: 0;
         }
     }

     .podetail {
         display: flex;
         flex-wrap: wrap;
         border-bottom: solid 2px $carmel-color;
         margin-bottom: 1.5rem;
         padding-left: 55px;

         @include rwd(996px) {
             padding-left: 5px;
         }

         @include rwd(576px) {
             font-size: 14px;
         }

         &>div {
             min-width: 30%;
             margin-bottom: 1.5rem;
             padding-left: 20px;

             @include rwd(438px) {
                 min-width: 50%;
             }

             &>* {
                 margin-bottom: .5rem;
             }
         }
     }

     .item-single {
         display: flex;
         align-items: center;
         width: 100%;
         margin: 0 auto 1.2rem;

         @include rwd(490px) {
             margin-left: 0;
             width: 130%;
         }

         img {
             width: 10vw;
             margin-right: 2.5rem;

             @include rwd(834px) {
                 margin-right: 1rem;
             }

             @include rwd(520px) {
                 width: 40%;
                 margin-right: 2rem;
                 margin-left: 1rem;
             }

             @include rwd(490px) {
                 width: 40%;
                 margin-left: 0;
             }
         }



         .item-detail {
             display: flex;
             align-items: stretch;
             width: 100%;
             justify-content: space-between;

             @include rwd(520px) {
                 display: block;
                 line-height: 1.3;
             }

             p {
                 font-size: 14px;
             }

             small {
                 font-size: 16px;

                 @include rwd(576px) {
                     font-size: 14px;
                 }
             }

             @include rwd(490px) {
                 flex-direction: column;
                 font-size: 14px;
                 line-height: 1.2;
             }

             &>* {
                 // flex-grow: 1;
             }
         }
     }

     .po-item {
         border-bottom: solid 2px $carmel-color;
         padding-right: 2rem;

         @include rwd(910px) {
             padding: 0;
         }
     }

     .posum {
         margin: 1.5rem 0;
         display: flex;
         flex-direction: column;
         margin-right: 3rem;
         align-items: flex-end;

         @include rwd(880px) {
             margin-right: 0;
         }

         @include rwd(576px) {
             font-size: 14px;
         }

         @include rwd(490px) {
             margin-right: 1rem;
         }

         &>div {
             display: flex;
             margin-bottom: 1.5rem;
             width: 40%;
             justify-content: space-between;

             @include rwd(490px) {
                 width: auto;
             }

             &>* {
                 // flex-grow: 1;
             }
         }
     }

     .coupon-item {
         width: fit-content;


         .coupon-single {
             display: flex;
             justify-content: center;
             align-items: center;
             margin-bottom: 1.5rem;

             @include rwd(646px) {
                 flex-direction: column;
             }

             >* {
                 width: 50%;

                 @include rwd(646px) {
                     width: 85%;
                     text-align: center;
                     margin-top: 20px;

                     small {
                         font-size: 14px;
                     }
                 }
             }

             img {
                 margin-right: 1.2rem;

                 @include rwd(490px) {
                     margin-right: 0;
                 }
             }

             h5 {
                 font-size: $h5;
                 margin-bottom: 1rem;
                 font-weight: $fw7;

                 @include rwd(1124px) {
                     font-size: 18px;
                 }

                 @include rwd(490px) {
                     font-size: 16px;
                     margin-bottom: 0.5rem;

                 }
             }

             small {
                 font-size: 14px;
             }
         }
     }

 }