@mixin rwd($breakpoint) {
    @media all and (max-width: $breakpoint) {
        @content;
    }
}


.event_detail-wrapper {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    max-width: calc(100vw - 116px);

    @include rwd(412px) {
        max-width: calc(100vw - 60px);
    }


    main {

        margin-bottom: 230px;

        @include rwd(428px) {
            margin-bottom: 0;
        }

        // .btn__ctn,
        // .btn-ctn {
        //     width: fit-content;
        //     margin: 0 auto;

            .button {
                letter-spacing: 5px;
                padding: 20px 90px;
                background-color: $primary1-color;
                color: white;
                border: 0;
                display: block;
                width: 100%;

                @include rwd(1270px) {
                    padding: 20px 80px;
                    margin-top: 0;
                    margin-right: 25px;
                    letter-spacing: 3px;
                }

                @include rwd(1196px) {
                    padding: 20px 77px;
                }

                @include rwd(1175px) {
                    padding: 20px 76px;
                }

                @include rwd(1166px) {
                    padding: 20px 75px;
                }

                @include rwd(1158px) {
                    padding: 20px 74px;
                }

                @include rwd(1152px) {
                    padding: 20px 73px;
                }

                @include rwd(1144px) {
                    padding: 20px 70px;
                }

                @include rwd(1122px) {
                    padding: 20px 67px;
                }

                @include rwd(1100px) {
                    padding: 20px 66px;
                }

                @include rwd(1092px) {
                    padding: 20px 65px;
                }

                @include rwd(552px) {
                    font-size: 15px;
                }

                @include rwd(527px) {
                    padding: 20px 63px;
                }

                @include rwd(520px) {
                    padding: 20px 53px;
                    margin-left: 16px;
                }

                @include rwd(514px) {
                    padding: 20px 50px;
                }

                @include rwd(504px) {
                    padding: 20px 47px;
                }

                @include rwd(494px) {
                    padding: 20px 44px;
                }

                @include rwd(484px) {
                    padding: 20px 41px;
                }

                @include rwd(474px) {
                    padding: 20px 38px;
                }

                @include rwd(466px) {
                    padding: 20px 35px;
                }

                @include rwd(454px) {
                    padding: 20px 32px;
                }

                @include rwd(444px) {
                    padding: 20px 29px;
                }

                @include rwd(434px) {
                    padding: 20px 26px;
                }

                @include rwd(428px) {
                    padding: 20px 86px;
                    margin-left: 0;
                }

                @include rwd(412px) {
                    padding: 20px 80px;
                }


                &::before {
                    content: "";
                    width: 0%;
                    height: 0%;
                }

                // &:hover {

                //     span {
                //         color: white;
                //     }
                // }


            // }
        }

        .event_detail-banner {
            margin-bottom: 50px;

            img {
                width: 80%;
                display: block;
                margin: 0 auto;

                @include rwd(428px) {
                    width: 100%;
                    ;
                }
            }
        }

        .event_detail-main-content {
            width: 80%;
            height: 210px;
            margin: 0 auto;
            margin-bottom: 230px;

            @include rwd(1085px) {
                display: flex;
                flex-direction: column;
                height: auto;
                margin-bottom: -170px;
            }

            @include rwd(428px) {
                margin: 0;
                width: 100%;
            }

            .event_detail-main-content-left {
                width: 55%;
                float: left;
                color: #261C0D;

                @include rwd(1085px) {
                    width: auto;
                }

                h3 {
                    font-size: 24px;
                    font-weight: $fw7;
                    /* text-align: center; */
                    /* margin-bottom: 60px; */
                    margin: 0 auto;
                    width: 80%;
                    margin-bottom: 20px;
                    color: $brown-color;
                    margin-top: 20px;


                    @include rwd(1085px) {
                        font-size: $h6;
                        margin-bottom: 20px;
                    }

                    @include rwd(486px) {
                        font-size: 15px;
                        margin-left: 15px;
                    }

                    @include rwd(428px) {
                        font-size: $p;
                    }
                }
            }

            p {
                font-size: $p;
                width: 80%;
                margin: 0 auto;
                line-height: 45px;

                @include rwd(1085px) {
                    font-size: 14px;
                }

                @include rwd(428px) {
                    margin: 0;
                    width: 100%;
                    font-size: 12px;
                    line-height: 2.5;
                }
            }
        }

        .event_detail-main-content-right {
            display: flex;

            @include rwd(1085px) {
                width: auto;
            }

            .event_detail-main-content-right-wrap {
                width: 75%;
                margin: 0 auto;
                padding-top: 15px;
                margin-bottom: 275px;

                @include rwd(1085px) {
                    margin-bottom: 0;
                }

                @include rwd(428px) {
                    margin: 0;
                    width: 100%;
                }

                @include rwd(412px) {
                    margin-left: 30px;
                }

                .event_detail-price {
                    display: block;
                    text-align: right;
                    // float: right;
                    /* font-size: 40px; */
                    color: #618985;
                    font-weight: bold;
                    // margin-right: 8%;
                    font-size: 32px;

                    @include rwd(1085px) {
                        font-size: 28px;
                    }

                    @include rwd(560px) {
                        font-size: 20px;
                    }

                    @include rwd(428px) {
                        font-size: 16px;
                    }
                }

                div {
                    font-size: $p;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    color: #261C0D;

                    @include rwd(1085px) {
                        font-size: 14px;
                    }

                    @include rwd(428px) {
                        font-size: 12px;
                    }
                }

                select {
                    width: calc(79% + 66px);
                    height: 40px;
                    font-size: 20px;

                    @include rwd(1270px) {
                        width: calc(79% + 39px);
                    }
                }

                .event_detail-ticket-type {
                    border: 1px solid #C09351;
                    color: #261C0D;
                    outline: none;
                    font-size: $p;
                    height: 30px;
                    padding-left: 2px;
                    border-radius: 3px;

                    @include rwd(1085px) {
                        font-size: 14px;
                    }

                    @include rwd(428px) {
                        font-size: 12px;
                    }
                }

                .event_detail-number-button {
                    width: 100%;
                    height: 40px;

                    .qtyminus,
                    .qtyplus {
                        margin: 0px;
                        padding: 0px;
                        width: 33px;
                        height: 100%;
                        color: #fff;
                        background-color: #C09351;
                        border: solid 12px #C09351;
                        cursor: pointer;
                    }

                    .qty {
                        // margin: -5px;
                        padding: 0px;
                        height: 100%;
                        width: 79%;
                        text-align: center;
                        border: 1px solid #C09351;
                        outline: none;
                        font-size: $p;

                        @include rwd(1270px) {
                            width: 70%;
                        }

                        @include rwd(1084px) {
                            width: 75%;
                        }

                        @include rwd(560px) {
                            width: 70%;
                        }

                        @include rwd(466px) {
                            width: 66%;
                        }

                        @include rwd(428px) {
                            width: 72%;
                        }
                    }
                }
            }
        }
    }



    .event_detail-ticket-price,
    .event_detail-ticket-info,
    .event_detail-attention {
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        max-width: 75%;

        @include rwd(428px) {
            margin-top: 50px;
        }

        h3 {
            width: 80%;
            font-weight: bold;
            font-size: 18px;
            color: #533C1B;
            line-height: 21.8px;
            margin: 20px 0;
            margin-left: -3%;

            @include rwd(428px) {
                font-size: 16px;
            }
        }

        li {
            list-style-type: decimal;
            line-height: 3;
            font-size: $h5;
            color: #261C0D;
            font-size: $p;

            @include rwd(1085px) {
                font-size: 14px;
            }

            @include rwd(428px) {
                font-size: 12px;
            }
        }

        li:last-child {
            margin-bottom: 30px;
        }
    }

    .event_detail-attention {
        li:last-child {
            margin-bottom: 70px;
        }
    }

    .breadcrumb {
        display: flex;
        margin: 80px 0 20px 0px;

        @include rwd(428px) {
            margin: 10px 0;
            padding: 0;
        }

        li:nth-child(even)::before {
            display: none;
        }

        li:nth-child(even) a {
            color: #261C0D;
        }

        li a {
            text-decoration: none;
            color: $font-color;
            line-height: 2;
            letter-spacing: 2px;
        }

        .breadcrumb__a a {
            &::after {
                content: "";
                height: 14px;
                border-left: solid 1px black;
                margin: 0 5px;

            }
        }

        .breadcrumb__b a {
            color: $lakeGreen-color
        }
    }
}