/**
<div class="banner">
    <div class="banner__img" style="background-image: url(../img/banner/banner__rental.png);">
        <div class="banner__textarea">
            <div class="banner__eng">VENUE RENTAL</div>
            <div class="banner__zh">場地租借</div>
        </div>
    </div>
</div>
*/
.banner {
    position: relative;

    .banner__img,
    .banner-img {
        height: 400px;
        background-position: 15% center;
        box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 35%);
    }

    .banner__textarea,
    .banner-textarea {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(256, 256, 256, .7);
    }

    .banner__eng,
    .banner-eng {
        font-size: $h1;
        font-weight: bold;
        color: $brown-color;
        letter-spacing: .8rem;
        padding: 3.2rem 4.2rem 2rem;
    }

    .banner__zh,
    .banner-zh {
        &::before {
            content: "";
            // 黑色底線長度調整
            width: 18vw;
            border-bottom: solid 3px $font-color;
            display: inline-block;
            margin-right: 2.8rem;
        }

        font-size: $h3;
        font-weight: bold;
        color: $carmel-color;
        padding-bottom: 2rem;
        display: block;
        padding-left: 20vw;
        padding-right: 4.2rem;
        letter-spacing: .68rem;
    }

}