/**
<h3 class="subtitle">
    <em>其他服務</em>
</h3>
*/

.subtitle {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: $h6;
    line-height: $h6 * 1.1;
    font-weight: 600;
    letter-spacing: .2rem;
    border-left: solid 4px $carmel-color;

    &>* {
        padding-left: 0.5rem;
        color:$primary1-color;
    }
}