$pc-width: 1280px;
$tablet-width: 1024px;
$mobile-width: 428px;


// @function xxx($width) {

//     @return $width * 200 / 1920;
// }

// .要套用的CSS選擇器{
//     @include rwd(parseInt(發現破版的)px){
//         CSS屬性: 新的數值;
//     }
// }