$brown-color: #533C1B; // 主色棕
$carmel-color: #C09351; // 主色駝色
$carmel-tgh-color: rgb(192, 147, 81, .5); // 主色半透明駝色
$sub-skin-color: #f6e6cf; // 輔色淺膚色
$sub-carmel-color: #CFB58F; // 輔色卡其色
$sub-LTgray-color: #D9D9D9; // 輔色淺灰色
$sub-gray-color: #C3BCB1; // 輔色粉灰色
$sub-DKgray-color: #B3B3B3; // 輔色深灰色
$font-color: #261C0D; // 字體色
$lakeGreen-color: #618985; // 對比色湖水綠色

$primary1-color: #533C1B; // 主色1
$primary2-color: #C09351; // 主色2
$primary3-color: rgb(192, 147, 81, .5); // 主色3
$secondary1-color: #f6e6cf; // 輔色1
$secondary2-color: #CFB58F; // 輔色2
$secondary3-color: #D9D9D9; // 輔色3
$secondary4-color: #261C0D; // 輔色4
$secondary5-color: #B3B3B3; // 輔色5
$secondary6-color: #C3BCB1; // 輔色6
$spotlight-color: #618985; // 對比色1
$warning-color: #CD4B21; // 警告色1
