@mixin rwd($breakpoint) {
    @media all and (max-width: $breakpoint) {
        @content;
    }
}


main.rental {
    // max-width: calc(100vw - 100px);
    margin: 0 auto;
    padding-top: 80px;

    .breadcrumb {
        padding: 10px 5%;

        @include rwd(1050px) {
            padding: 10px 7%;
        }

        @include rwd(766px) {
            padding: 10px 3%;
        }
    }


    a {
        color: $font-color;
    }

    .banner div.banner__img {
        background-image: url("../img/banner/banner__rental.png");

        @include rwd(768px) {
            background-image: url("../img/rental_join_form/rental.banner/rental_banner_rwd768.jpg");
            height: 300px;

            .banner__eng {
                font-size: 22px;
                padding: 2.2rem 2.2rem 1rem;
            }

            .banner__zh {
                font-size: 22px;
            }
        }

        @include rwd(555px) {

            .banner__eng {
                padding: 2.2rem 1rem 1rem;
            }

            .banner__zh {
                padding-left: 14vw;
                padding-right: 2.2rem;
            }
        }

        @include rwd(459px) {
            .banner__zh {
                padding-left: 12vw;
            }
        }

        @include rwd(456px) {

            .banner__eng {
                font-size: 21px;
                padding: 2.2rem 0.4rem 1rem;
            }

            .banner__zh {
                font-size: 21px;
            }
        }

        @include rwd(428px) {

            background-image: url("../img/rental_join_form/rental.banner/rental_banner_rwd428.jpg");
            height: 200px;

            .banner__eng {
                font-size: 20px;
                padding: 0.8rem 2.2rem 0.8rem;
            }

            .banner__zh {
                font-size: 20px;
                padding-right: 0;
                padding-bottom: 1rem;

                &::before {
                    margin-right: 0.8rem;
                }
            }
        }



    }

    article {
        padding: 3rem 0;

        section {
            h3 {
                width: 65vw;
                margin: 0 auto 25px;

                @include rwd(768px) {
                    font-size: 16px;
                }

                @include rwd(428px) {
                    width: 80vw;
                }

                small {
                    color: $warning-color;
                    font-size: $small;

                    @include rwd(441px) {
                        padding: 0;
                    }
                }
            }

            p {
                width: 65vw;
                margin: 0 auto 25px;
                padding-left: 1.3rem;
                line-height: 2rem;

                @include rwd(768px) {
                    margin: 0 auto 12px;
                    font-size: 14px;
                }

                @include rwd(428px) {
                    font-size: 12px;
                    margin: 0 0 20px 62px;
                }
            }

            dl {
                width: 65vw;
                margin: 0 auto 25px;
                padding-left: 1.3rem;
                line-height: 2.5rem;

                @include rwd(768px) {
                    font-size: 14px;
                }

                @include rwd(428px) {
                    font-size: 12px;
                    padding-left: 0.5rem;
                }
            }

            em {
                padding-left: .5rem;

                @include rwd(428px) {
                    font-size: 14px;
                }
            }

            dd {
                line-height: 2rem;
            }

            ul {
                padding-left: 2.3rem;

                @include rwd(768px) {
                    padding-left: 1.3rem;
                }

                @include rwd(428px) {
                    padding-left: 0.5rem;
                }
            }
            .zoneA{
                color:gray;
                box-shadow: 0 3px 10px 0 #aaa;
                background-color: rgba(255, 255, 255, 0.7);
                height: 134px;
                position: absolute;
                width: 170px;
                top: 356px;
                left: 805px;
            }
            .zoneB{
                color:gray;
                box-shadow: 0 3px 10px 0 #aaa;
                background-color: rgba(255, 255, 255, 0.7);
                height: 134px;
                position: absolute;
                width: 170px;
                top: 316px;
                left: 631px;
            }
            .zoneC{
                color:gray;
                box-shadow: 0 3px 10px 0 #aaa;
                background-color: rgba(255, 255, 255, 0.7);
                height: 134px;
                position: absolute;
                width: 170px;
                top: 311px;
                left: 444px;
            }
            .zoneD{
                color:gray;
                box-shadow: 0 3px 10px 0 #aaa;
                background-color: rgba(255, 255, 255, 0.7);
                height: 134px;
                position: absolute;
                width: 170px;
                top: 334px;
                left: 279px;
            }
            .zoneE{
                color:gray;
                box-shadow: 0 3px 10px 0 #aaa;
                background-color: rgba(255, 255, 255, 0.7);
                height: 134px;
                position: absolute;
                width: 170px;
                top: 435px;
                left: 244px;
        }

        .map {
            margin: -140px 0 -100px;
            position: relative;
            @include rwd(768px) {
                margin: -360px 0 -330px;
            }

            @include rwd(546px) {
                margin: -397px 0 -370px;
            }

            @include rwd(456px) {
                margin: -435px 0 -400px;
            }

            @include rwd(428px) {
                margin: -440px 0 -410px;
            }

            
            @include rwd(386px) {
                margin: -450px 0 -420px;
            }

            svg {
                width: calc(80vw);
                margin: 0 auto;
                display: block;  
                
            image#圖層_6{
                position: relative;
                &:hover{
                height: 20%;
                x: 1220;
                y: 138;
                z-index: 99;
                filter: invert(1%) hue-rotate(35deg) brightness(160%) contrast(240%);
                }
            }
            image#圖層_6-2 {
                &:hover{
                filter: invert(1%) hue-rotate(35deg) brightness(160%) contrast(240%);
                height: 20%;
                x: 923;
                y: 46;
                }   
            }
            image#圖層_6-3 {
                &:hover{
                filter: invert(1%) hue-rotate(35deg) brightness(160%) contrast(240%);
                height: 20%;
                width: 24%;
                x: 505;
                y: 47;
                }
            }
            image#圖層_6-4 {
                &:hover{
                filter: invert(1%) hue-rotate(35deg) brightness(160%) contrast(240%);
                height: 20%;
                width: 20%;
                x: 243;
                y: 92;
                }
            }
            image#圖層_6-5 {
                &:hover{
                filter: invert(1%) hue-rotate(35deg) brightness(160%) contrast(240%);
                height: 20%;
                width: 20%;
                x: 151;
                y: 278;
                }
            }

        dt {
            span {
                color: $lakeGreen-color;
            }
        }
    }

   }   
 }
}
}